html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.map {
  position: absolute;
  height: 400px;
  width: 400px;
  left: -3000px;
  bottom: 45%;
  z-index: 2;
}
.street-view {
  height: 80%;
  width: 100%;
}
.upperPanel {
  height: 10%;
  background-color: #37474F;
}
.bottomPanel {
  height: 10%;
  background-color: #37474F;
}
.container {
  position: relative;
}
.form {
  width: 100%;
  font-size: 30px;
}
label {
  color: white;
}
input {
  width: 500px;
  color: black;
}
.message {
  color: white;
  font-size: 35px;
  display: inline-block;
  margin: auto;
  width: 800px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.shots {
  color: white;
  font-size: 40px;
  position: absolute;
  right: 200px;
}
.invisible {
  display: none;
}
