html, body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 1200px;
}
.hello-screen {
  overflow: hidden;
}
.hello-screen__left {
  width: 50vw;
  height: 100vh;
  visibility: visible;
  z-index: 5;
  position: absolute;
  left: 0;
  background-color: #37474F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hello-screen__right {
  width: 50vw;
  height: 100vh;
  visibility: visible;
  z-index: 5;
  position: absolute;
  right: 0;
  background-color: #37474F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hello-msg {
  color: springgreen;
  cursor: pointer;
  font-size: 3em;
}
.map {
  position: absolute;
  height: 40vh;
  width: 40vh;
  left: -3000px;
  bottom: 20%;
  z-index: 2;
  opacity: 0.4;
}
.guess-place {
  position: absolute;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  background-color: rgba(0,0,156,1);
  color: rgb(0,255,0);
  border-radius: 2em;
  border: none;
  width: 40vh;
  height: 4.5vh;
  left: -3000px;
  bottom: 15%;
  z-index: 2;
  outline: none;
}
.guess-place:hover{
  background-color: rgba(0,156,0,0.7);
  border: 1px solid blue;
  font-weight: 700;
  color: blue;
}
.bonus {
  width: 300px;
  height: 300px;
  color: yellow;
  font-size: 4em;
  font-style: italic;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}
.street-view {
  height: 80vh;
  width: 100%;
}
.upperPanel {
  height: 10vh;
  background-color: #37474F;
  width: 100%;
  color: white;
  font-size: 0.95rem;
}
.upperPanel__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7em;
}
.upperPanel .position {
  width: 40%;
}
.upperPanel__box .game {
  display: flex;
}
.game .game__score {
  width: 7em;
  margin-right: 1em;
}
.bottomPanel {
  height: 10vh;
  background-color: #37474F;
}
.bottomPanel__box {
  display: flex;
  flex-wrap: wrap;
  height: 10vh;
  align-content: space-around;
}
.bottomPanel__box--up {
  width: 100%;
  display: flex;
}
.form {
  display: flex;
  align-items: center;
}
.form label {
  margin-bottom: 0;
  margin-right: 5px;
  width: 10rem;
  font-size: 1.15rem;
  color: white;
  letter-spacing: 2px;
  font-weight: normal;
}
.form input {
  width: 25rem;
  height: 1.5rem;
  border-radius: 25px;
  padding-left: 5px;
  border: 1px solid grey;
  outline: none;
}
.form .form-buttons {
  width: 15rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
}
.form-buttons .submit-button {
  border: none;
  background-color: #37474F;
  color: springgreen;
  outline: none;
}
.form-buttons .submit-button:hover {
  color: yellow;
}
.form-buttons .skip-button {
  cursor: pointer;
  color: #CD853F;
  border: none;
  background-color: #37474F;
  outline: none;
}
.form-buttons .skip-button:hover {
  color: yellow;
}
.bottomPanel__box--down {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}
.bottomPanel__box--down .message {
  font-size: 2rem;
  color: red;
}
.restart-shots {
  display: flex;
  font-size: 1.25rem;
  justify-content: space-around;
  width: 20rem;
  color: lightblue;
}
.restart-shots .restart {
  color: #CD853F;
  cursor: pointer;
}
.restart-shots .restart:hover {
  color: yellow;
}
.invisible {
  display: none;
}
.round-score {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  width: 400px;
  height: 500px;
  background-color: rgba(255,255,255, 0.8);
  border: 1px solid blue;
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;
}
h1 {
  text-align: center;
  margin: 20px auto;
  font-size: 25px;
}
.points {
  margin-bottom: 0;
  text-align: center;
  font-size: 40px;
  color: red;
}
.multipliers {
  margin-top: 20px;
  list-style-type: none;
}
.multipliers h3 span {
  color: red;
}
.multipliers li {
  margin-top: 10px;
  font-size: 16px;
}
.next-round {
  font-size: 25px;
  position: absolute;
  left: 125px;
  bottom: 25px;
  border: none;
  background-color: rgba(255,255,255, 0);
  border-bottom: 2px solid blue;
  outline: none;
}
