html, body {
  height: 100%;
  margin: 0;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 18px;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 1200px;
}
.hello-screen {
  overflow: hidden;
}
.hello-screen__top {
  width: 100vw;
  height: 33%;
  visibility: visible;
  z-index: 6;
  position: absolute;
  top: 0;
  background-position: center;
  display: flex;
  justify-content: center;
}
.hello-screen__top .title {
  height: 5rem;
  z-index: 10;
  color: white;
  font-size: 4rem;
  text-shadow: 5px 5px 5px black;
}
.hello-screen__top .contact {
  position: absolute;
  z-index: 10;
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px black;
}
.hello-screen__top .contact a {
  color: blue;
}
.hello-screen__top .contact a:visited {
  text-decoration: none;
}
.hello-screen__top .contact a:focus {
  text-decoration: none;
}
.hello-screen__top .contact a:hover {
  text-decoration: none;
}
.hello-screen__top div {
  width: 100vw;
  height: 100%;
  visibility: visible;
  z-index: 6;
  position: absolute;
  top: 0;
  background-position: center;
  animation: round 61s ease infinite;
  opacity: 1;
}
@keyframes round {
  0% { opacity: 1 }
  3% { opacity: 0 }
  70% { opacity: 0 }
  90% { opacity: 1 }
}
.hello-screen__top div:first-child {
  animation-delay: 64s;
  background-image: url("../images/1.jpg");
}
.hello-screen__top div:nth-child(2) {
  animation-delay: 58s;
  background-image: url("../images/2.jpg");
}
.hello-screen__top div:nth-child(3) {
  animation-delay: 52s;
  background-image: url("../images/3.jpg");
}
.hello-screen__top div:nth-child(4) {
  animation-delay: 46s;
  background-image: url("../images/4.jpg");
}
.hello-screen__top div:nth-child(5) {
  animation-delay: 40s;
  background-image: url("../images/5.jpg");
}
.hello-screen__top div:nth-child(6) {
  animation-delay: 34s;
  background-image: url("../images/6.jpg");
}
.hello-screen__top div:nth-child(7) {
  animation-delay: 28s;
  background-image: url("../images/7.jpg");
}
.hello-screen__top div:nth-child(8) {
  animation-delay: 22s;
  background-image: url("../images/8.jpg");
}
.hello-screen__top div:nth-child(9) {
  animation-delay: 16s;
  background-image: url("../images/9.jpg");
}
.hello-screen__top div:nth-child(10) {
  animation-delay: 4s;
  background-image: url("../images/11.jpg");
}
.hello-screen__top div:nth-child(11) {
  animation-delay: 10s;
  background-image: url("../images/10.jpg");
}
.hello-screen__left {
  overflow: hidden;
  width: 50vw;
  height: 80vh;
  visibility: visible;
  z-index: 7;
  position: absolute;
  top: 20vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,15,97,0);
  background: -moz-linear-gradient(top, rgba(0,15,97,0) 0%, rgba(0,15,97,0.25) 4%, rgba(0,2,26,0.88) 14%, rgba(0,2,26,1) 16%, rgba(0,5,41,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,15,97,0)), color-stop(4%, rgba(0,15,97,0.25)), color-stop(14%, rgba(0,2,26,0.88)), color-stop(16%, rgba(0,2,26,1)), color-stop(100%, rgba(0,5,41,1)));
  background: -webkit-linear-gradient(top, rgba(0,15,97,0) 0%, rgba(0,15,97,0.25) 4%, rgba(0,2,26,0.88) 14%, rgba(0,2,26,1) 16%, rgba(0,5,41,1) 100%);
  background: -o-linear-gradient(top, rgba(0,15,97,0) 0%, rgba(0,15,97,0.25) 4%, rgba(0,2,26,0.88) 14%, rgba(0,2,26,1) 16%, rgba(0,5,41,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,15,97,0) 0%, rgba(0,15,97,0.25) 4%, rgba(0,2,26,0.88) 14%, rgba(0,2,26,1) 16%, rgba(0,5,41,1) 100%);
  background: linear-gradient(to bottom, rgba(0,15,97,0) 0%, rgba(0,15,97,0.25) 4%, rgba(0,2,26,0.88) 14%, rgba(0,2,26,1) 16%, rgba(0,5,41,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f61', endColorstr='#000529', GradientType=0 );
}
.hello-screen__left__box {
  margin-top: 5rem;
  font-size: 1.15rem;
  width: 30vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  color: peru;
}
.hello-screen__left__box h1 {
  color: yellow;
  font-size: 1.7rem;
}
.hello-screen__left__box h2 {
  color: yellow;
  font-size: 1.5rem;
}
.precision-levels-list li{
  margin-right: 2rem;
  list-style: none;
}
.start-game {
  color: springgreen;
  cursor: pointer;
  font-size: 3em;
}
.start-game:hover {
  color: lightblue;
}
.highscores {
  font-size: 1.6rem;
  cursor: pointer;
}
.highscores:hover {
  color: lightblue;
}
.hello-screen__right {
  overflow: hidden;
  width: 50vw;
  height: 80vh;
  visibility: visible;
  z-index: 7;
  position: absolute;
  top: 20vh;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,15,97,0);
  background: -moz-linear-gradient(top, rgba(0,15,97,0) 0%, rgba(0,15,97,0.25) 4%, rgba(0,2,26,0.88) 14%, rgba(0,2,26,1) 16%, rgba(0,5,41,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,15,97,0)), color-stop(4%, rgba(0,15,97,0.25)), color-stop(14%, rgba(0,2,26,0.88)), color-stop(16%, rgba(0,2,26,1)), color-stop(100%, rgba(0,5,41,1)));
  background: -webkit-linear-gradient(top, rgba(0,15,97,0) 0%, rgba(0,15,97,0.25) 4%, rgba(0,2,26,0.88) 14%, rgba(0,2,26,1) 16%, rgba(0,5,41,1) 100%);
  background: -o-linear-gradient(top, rgba(0,15,97,0) 0%, rgba(0,15,97,0.25) 4%, rgba(0,2,26,0.88) 14%, rgba(0,2,26,1) 16%, rgba(0,5,41,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,15,97,0) 0%, rgba(0,15,97,0.25) 4%, rgba(0,2,26,0.88) 14%, rgba(0,2,26,1) 16%, rgba(0,5,41,1) 100%);
  background: linear-gradient(to bottom, rgba(0,15,97,0) 0%, rgba(0,15,97,0.25) 4%, rgba(0,2,26,0.88) 14%, rgba(0,2,26,1) 16%, rgba(0,5,41,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f61', endColorstr='#000529', GradientType=0 );
}
.hello-screen__right__box {
  margin-top: 4rem;
  font-size: 1.25rem;
  width: 30vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
  color: peru;
}
.hello-screen__right__box h1 {
  color: yellow;
}
.hello-screen__right__box ul {
  list-style: none;
}
.hello-screen__right__box ul li {
  margin: 0.3rem 0;
}
.hello-screen__right__box .summary {
  font-size: 2.5rem;
}
.color-span {
  color: yellow;
}
.hello-screen__right__box ol li {
  margin: 0.3rem 0;
}
.map {
  position: absolute;
  height: 40vh;
  width: 40vh;
  left: -3000px;
  bottom: 20%;
  z-index: 2;
  opacity: 0.4;
}
.guess-place {
  position: absolute;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  background-color: rgba(0,0,156,1);
  color: rgb(0,255,0);
  border-radius: 2em;
  border: none;
  width: 40vh;
  height: 4.5vh;
  left: -3000px;
  bottom: 15%;
  z-index: 2;
  outline: none;
}
.guess-place:hover{
  background-color: rgba(0,156,0,0.7);
  border: 1px solid blue;
  font-weight: 700;
  color: blue;
}
.bonus {
  width: 300px;
  height: 300px;
  color: yellow;
  font-size: 4em;
  font-style: italic;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}
.street-view {
  height: 80%;
  width: 100%;
}
.upperPanel {
  height: 10vh;
  background: rgba(0,11,51,1);
background: -moz-linear-gradient(45deg, rgba(0,11,51,1) 0%, rgba(0,11,51,1) 10%, rgba(2,59,59,1) 35%, rgba(2,59,59,1) 66%, rgba(0,11,51,1) 90%, rgba(0,11,51,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,11,51,1)), color-stop(10%, rgba(0,11,51,1)), color-stop(35%, rgba(2,59,59,1)), color-stop(66%, rgba(2,59,59,1)), color-stop(90%, rgba(0,11,51,1)), color-stop(100%, rgba(0,11,51,1)));
background: -webkit-linear-gradient(45deg, rgba(0,11,51,1) 0%, rgba(0,11,51,1) 10%, rgba(2,59,59,1) 35%, rgba(2,59,59,1) 66%, rgba(0,11,51,1) 90%, rgba(0,11,51,1) 100%);
background: -o-linear-gradient(45deg, rgba(0,11,51,1) 0%, rgba(0,11,51,1) 10%, rgba(2,59,59,1) 35%, rgba(2,59,59,1) 66%, rgba(0,11,51,1) 90%, rgba(0,11,51,1) 100%);
background: -ms-linear-gradient(45deg, rgba(0,11,51,1) 0%, rgba(0,11,51,1) 10%, rgba(2,59,59,1) 35%, rgba(2,59,59,1) 66%, rgba(0,11,51,1) 90%, rgba(0,11,51,1) 100%);
background: linear-gradient(45deg, rgba(0,11,51,1) 0%, rgba(0,11,51,1) 10%, rgba(2,59,59,1) 35%, rgba(2,59,59,1) 66%, rgba(0,11,51,1) 90%, rgba(0,11,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000b33', endColorstr='#000b33', GradientType=1 );
  width: 100%;
  color: lightblue;
}
.upperPanel__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3em;
}
.upperPanel .position {
  width: 40%;
  font-size: 1.1rem;
}
.upperPanel__box .game {
  display: flex;
}
.game .game__score {
  width: 7em;
  margin-right: 1em;
  font-size: 1.5rem;
}
.game .game__rounds {
  font-size: 1.5rem;
}
.bottomPanel {
  height: 10vh;
  background: rgba(0,11,51,1);
background: -moz-linear-gradient(-45deg, rgba(0,11,51,1) 0%, rgba(0,11,51,1) 10%, rgba(2,59,59,1) 35%, rgba(2,59,59,1) 66%, rgba(0,11,51,1) 90%, rgba(0,11,51,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,11,51,1)), color-stop(10%, rgba(0,11,51,1)), color-stop(35%, rgba(2,59,59,1)), color-stop(66%, rgba(2,59,59,1)), color-stop(90%, rgba(0,11,51,1)), color-stop(100%, rgba(0,11,51,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,11,51,1) 0%, rgba(0,11,51,1) 10%, rgba(2,59,59,1) 35%, rgba(2,59,59,1) 66%, rgba(0,11,51,1) 90%, rgba(0,11,51,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,11,51,1) 0%, rgba(0,11,51,1) 10%, rgba(2,59,59,1) 35%, rgba(2,59,59,1) 66%, rgba(0,11,51,1) 90%, rgba(0,11,51,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,11,51,1) 0%, rgba(0,11,51,1) 10%, rgba(2,59,59,1) 35%, rgba(2,59,59,1) 66%, rgba(0,11,51,1) 90%, rgba(0,11,51,1) 100%);
background: linear-gradient(135deg, rgba(0,11,51,1) 0%, rgba(0,11,51,1) 10%, rgba(2,59,59,1) 35%, rgba(2,59,59,1) 66%, rgba(0,11,51,1) 90%, rgba(0,11,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000b33', endColorstr='#000b33', GradientType=1 );
}
.bottomPanel__box {
  display: flex;
  flex-wrap: wrap;
  height: 10vh;
  align-content: space-around;
}
.bottomPanel__box--up {
  margin-top: 0.6rem;
  width: 100%;
  display: flex;
}
.form {
  display: flex;
  align-items: center;
}
.form label {
  margin-bottom: 0;
  margin-right: 5px;
  width: 10rem;
  font-size: 1.25rem;
  color: lightblue;
  letter-spacing: 2px;
  font-weight: normal;
}
.form input {
  color: lightblue;
  width: 20rem;
  height: 1.5rem;
  border-radius: 15px;
  padding-left: 10px;
  box-shadow: 0px 0px 250px darkblue;
  border: none;
  outline: none;
  font-size: 1.25rem;
  background: rgba(53,64,102,1);
  background: -moz-linear-gradient(left, rgba(53,64,102,1) 0%, rgba(3,116,116,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53,64,102,1)), color-stop(100%, rgba(3,116,116,1)));
  background: -webkit-linear-gradient(left, rgba(53,64,102,1) 0%, rgba(3,116,116,1) 100%);
  background: -o-linear-gradient(left, rgba(53,64,102,1) 0%, rgba(3,116,116,1) 100%);
  background: -ms-linear-gradient(left, rgba(53,64,102,1) 0%, rgba(3,116,116,1) 100%);
  background: linear-gradient(to right, rgba(53,64,102,1) 0%, rgba(3,116,116,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#354066', endColorstr='#037474', GradientType=1 );
}
.form .form-buttons {
  width: 12rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
}
.form-buttons .submit-button {
  border: none;
  background-color: transparent;
  color: springgreen;
  outline: none;
}
.form-buttons .submit-button:hover {
  color: yellow;
}
.form-buttons .skip-button {
  cursor: pointer;
  color: #CD853F;
  border: none;
  background-color: transparent;
  outline: none;
}
.form-buttons .skip-button:hover {
  color: yellow;
}
.bottomPanel__box--down {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}
.bottomPanel__box--down .message {
  font-size: 2rem;
  color: red;
}
.restart-shots {
  display: flex;
  font-size: 1.25rem;
  justify-content: space-around;
  width: 20rem;
  color: lightblue;
}
.restart-shots .restart {
  color: #CD853F;
  cursor: pointer;
}
.restart-shots .restart:hover {
  color: yellow;
}
.invisible {
  display: none;
}
.round-score {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  width: 400px;
  height: 500px;
  background-color: rgba(0,255,0, 0.8);
  border-radius: 75px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 1000px blue;
}
h1 {
  text-align: center;
  margin: 20px auto;
  font-size: 1.5rem;
  color: black;
}
.points {
  margin-bottom: 0;
  text-align: center;
  font-size: 2.5rem;
  color: blue;
}
.multipliers {
  margin-top: 20px;
  list-style-type: none;
  color: black;
}
.multipliers h3 span {
  color: blue;
}
.multipliers li {
  margin-top: 10px;
  font-size: 1.1rem;
}
.next-round {
  font-size: 2rem;
  position: absolute;
  left: 120px;
  bottom: 15px;
  border: none;
  background-color: rgba(255,255,255, 0);
  border-bottom: 2px solid blue;
  outline: none;
  color: black;
}
.next-round:hover {
  color: blue;
}
