<!DOCTYPE html>
<html>
  <head>
    <title>GuessThePlace - GoogleMaps API game</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div class="upperPanel"></div>
    <div class="street-view"></div>
    <div class="bottomPanel">
      <div class="container">
        <form class="form">
          <label class="input-label">Enter country:
            <input type="text" class="location-input" value=""></input>
          </label>
          <button type="submit" class="submit-button">Submit</button>
          <button class="skip-round">Skip round</button>
        </form>
        <div class="message">Success!</div>
      </div>
    </div>
    <div class="map"></div>

  </body>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI5vQlnzJ96jGdY0dT2vlVDY3n19_QQtg"></script>
  <script type="text/javascript" src="../dist/bundle.js"></script>
</html>
